
// /* HEX */
$color1: #fff77fff;
$primaryColor: #fbde4bff;
$color3: #deb834ff;
$color4: #ad8c33ff;
$color5: #734c0fff;
$color6: #542e08ff;
$color7: #371003ff;

body {
    background: $primaryColor;
}

.App {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#timer-controller {
    display: flex;
}