// /* HEX */
$color1: #eaefb1;
$primaryColor: #fdf15f;
$color3: #ffbc4b;
$color4: #0c6900;
$color5: #734c0f;
$color6: #b61b00;
$color7: #371003;
$font-family-numbers: "Fira Code", monospace;

@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap");
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  background: linear-gradient($primaryColor, $color3);
  font-family: "Patua One";
  font-size: 1.5rem;
  color: $color7;
}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 2rem;
}
#timer-display {
  margin: 1rem;
  padding: 2rem 0;
  border: 0.2rem solid $color7;
  border-radius: 20rem;
  text-align: center;
  font-size: 2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  //   background: linear-gradient($color1, $color4);
}

#timer-label {
  padding-bottom: 0.7rem;
}

#time-left {
  padding-top: 0.7rem;
  font-family: $font-family-numbers;
}

.timer-button {
  display: flex;
  justify-content: center;
}

#start_stop {
  margin-right: 0.7rem;
}

#reset {
  margin-left: 0.7rem;
}

.timer-controller {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

#break-label,
#session-label {
  margin: 0;
}

#break-length,
#session-length {
  font-family: $font-family-numbers;
}

.spinner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
